In [2]:
import numpy as np
import pandas as pd

In [3]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [7]:
my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'english_score', 'math_score'], index=['a','b','c','d'])
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [5]:
type(my_df)

pandas.core.frame.DataFrame

In [9]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [10]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
my_df.dtypes # 각 컬럼의 데이터타입

name             object
english_score     int64
math_score        int64
dtype: object

In [13]:
arr = np.array([
    ['Taylor Swift', 'December 13, 1989', 'Singer-songwriter'],
    ['Aaron Sorkin', 'June 9, 1961', 'Screenwriter'],
    ['Harry Potter', 'July 31, 1980', 'Wizard'],
    ['Ji-Sung Park', 'February 25, 1981', 'Footballer']
])
df = pd.DataFrame(arr, columns=['name', 'birthday', 'occupation'])
df

           name           birthday         occupation
0  Taylor Swift  December 13, 1989  Singer-songwriter
1  Aaron Sorkin       June 9, 1961       Screenwriter
2  Harry Potter      July 31, 1980             Wizard
3  Ji-Sung Park  February 25, 1981         Footballer

### pandas의 dtype들
df.dtypes 명령어 사용  
int64 정수  
flaot64 소수  
object 텍스트  
bool 불린(참거짓)  
datertime64 시간  
category 카테고리

# CSV란? Comma  Separated Values


,출시일,디스플레이,메모리,출시 버전,Face ID  <--- Header  
iPhone 7,2016-09-16,4.7,2GB,iOS 10.0,No      <--- Data  
iPhone 7 Plus,2016-09-16,5.5,3GB,iOS 10.0,No  
iPhone 8,2017-09-22,4.7,2GB,iOS 11.0,No  
iPhone 8 Plus,2017-09-22,5.5,3GB,iOS 11.0,No  
iPhone X,2017-11-03,5.8,3GB,iOS 11.1,Yes  
iPhone XS,2018-09-21,5.8,4GB,iOS 12.0,Yes  
iPhone XS Max,2018-09-21,6.5,4GB,iOS 12.0,Yes

In [16]:
iphone_df = pd.read_csv('data/iphone.csv') # csv의 첫번째 줄은 header로 인식
iphone_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [17]:
iphone_df2 = pd.read_csv('data/iphone.csv', index_col=0) #index_col=0은 0번째 column을 row이름으로 지정할 수 있음
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [18]:
df_mega_million = pd.read_csv('data/mega_millions.csv', index_col=0)
df_mega_million

           Winning Numbers  Mega Ball  Multiplier
Draw Date
02/15/2019  10 38 40 43 65         12         2.0
02/12/2019  15 32 39 50 65          7         3.0
02/08/2019  14 24 31 42 48         13         3.0
02/05/2019  03 34 36 59 66          7         2.0
02/01/2019  02 37 48 66 68         11         5.0
...                    ...        ...         ...
05/31/2002  12 28 45 46 52         47         NaN
05/28/2002  06 21 22 29 32         24         NaN
05/24/2002  02 04 32 44 52         36         NaN
05/21/2002  04 28 39 41 44          9         NaN
05/17/2002  15 18 25 33 47         30         NaN

[1746 rows x 3 columns]

###  원하는 데이터를 선택하는 것을 Indexing이라고 한다

In [20]:
iphone_df2.loc['iPhone 8', '메모리']

'2GB'

In [21]:
iphone_df2.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [22]:
iphone_df2.loc['iPhone X', :]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [26]:
type(iphone_df2.loc['iPhone X', :]) # Series는 pandas의 한 줄에 해당하는 정보

pandas.core.series.Series

In [27]:
iphone_df2.loc[:, '출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [30]:
iphone_df2['출시일'] # 위와의 차이점 비교

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [33]:
broadcast_df = pd.read_csv('data/broadcast.csv', index_col=0)
broadcast_df

         KBS     MBC     SBS  TV CHOSUN   JTBC  Channel A    MBN
2011  35.951  18.374  11.173      9.102  7.380      3.771  2.809
2012  36.163  16.022  11.408      8.785  7.878      5.874  3.310
2013  31.989  16.778   9.673      9.026  7.810      5.350  3.825
2014  31.210  15.663   9.108      9.440  7.490      5.776  4.572
2015  27.777  16.573   9.099      9.940  7.267      6.678  5.520
2016  27.583  14.982   8.669      9.829  7.727      6.624  5.477
2017  26.890  12.465   8.661      8.886  9.453      6.056  5.215

In [36]:
broadcast_df[['SBS', 'JTBC']] # 여러 column의 정보를 가져올 때

         SBS   JTBC
2011  11.173  7.380
2012  11.408  7.878
2013   9.673  7.810
2014   9.108  7.490
2015   9.099  7.267
2016   8.669  7.727
2017   8.661  9.453

In [37]:
samsong_df = pd.read_csv('data/samsong.csv')
hyundee_df = pd.read_csv('data/hyundee.csv')

In [61]:
pd.DataFrame(samsong_df[['요일', '문화생활비']])

    요일  문화생활비
0  MON   4308
1  TUE   7644
2  WED   5674
3  THU   8621
4  FRI  23052
5  SAT  15330
6  SUN  19030

In [77]:
samsong_df[['요일', '문화생활비']]

    요일  문화생활비
0  MON   4308
1  TUE   7644
2  WED   5674
3  THU   8621
4  FRI  23052
5  SAT  15330
6  SUN  19030

In [39]:
pd.DataFrame(hyundee_df['문화생활비'])

   문화생활비
0   5339
1   3524
2   5364
3   9942
4  33511
5  19397
6  19925

In [75]:
samsong_df['문화생활비']

0     4308
1     7644
2     5674
3     8621
4    23052
5    15330
6    19030
Name: 문화생활비, dtype: int64

In [76]:
samsong_df[['문화생활비']] # 배열 안에 넣으면 dataFrame이 나오게 됨

   문화생활비
0   4308
1   7644
2   5674
3   8621
4  23052
5  15330
6  19030

In [91]:
samsong_df.loc[0: 3]

    요일     식비   교통비  문화생활비    기타
0  MON  19420  2560   4308  3541
1  TUE  16970  2499   7644  2903
2  WED  15091  2511   5674  2015
3  THU  17880  2545   8621  3012

In [94]:
samsong_df.loc[0:3, ['요일', '문화생활비']]

    요일  문화생활비
0  MON   4308
1  TUE   7644
2  WED   5674
3  THU   8621

In [74]:
sam_culture = samsong_df.loc[:,'문화생활비']
hyun_culture = hyundee_df.loc[:, '문화생활비']
sam_day = samsong_df.loc[:, '요일']
final_file = {"day": sam_day, "samsong": sam_culture, "hyundee": hyun_culture}
pd.DataFrame(final_file)

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925

In [97]:
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [96]:
iphone_df2.loc[[True, False, True, True, False, True, False]]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [103]:
iphone_df2.loc[:,[True, True, True, False, True]]

                      출시일  디스플레이  메모리 Face ID
iPhone 7       2016-09-16    4.7  2GB      No
iPhone 7 Plus  2016-09-16    5.5  3GB      No
iPhone 8       2017-09-22    4.7  2GB      No
iPhone 8 Plus  2017-09-22    5.5  3GB      No
iPhone X       2017-11-03    5.8  3GB     Yes
iPhone XS      2018-09-21    5.8  4GB     Yes
iPhone XS Max  2018-09-21    6.5  4GB     Yes

In [105]:
pd.DataFrame(iphone_df2['디스플레이'] < 5)

               디스플레이
iPhone 7        True
iPhone 7 Plus  False
iPhone 8        True
iPhone 8 Plus  False
iPhone X       False
iPhone XS      False
iPhone XS Max  False

In [106]:
iphone_df2.loc[iphone_df2['디스플레이'] > 5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [109]:
pd.DataFrame(iphone_df2['Face ID'] == 'Yes')

               Face ID
iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True

In [110]:
iphone_df2.loc[iphone_df2['Face ID'] == 'Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [113]:
pd.DataFrame((iphone_df2['디스플레이'] > 5) & (iphone_df2['Face ID'] == 'Yes'))

                   0
iPhone 7       False
iPhone 7 Plus  False
iPhone 8       False
iPhone 8 Plus  False
iPhone X        True
iPhone XS       True
iPhone XS Max   True

In [115]:
condition1 = (iphone_df2['디스플레이'] > 5) & (iphone_df2['Face ID'] == 'Yes')
iphone_df2.loc[condition1]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [116]:
condition2 = (iphone_df2['디스플레이'] > 5) | (iphone_df2['Face ID'] == 'Yes')
iphone_df2.loc[condition2]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [118]:
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [117]:
iphone_df2.iloc[2, 4]

'No'

In [119]:
iphone_df2.iloc[[1,3], [2,4]]

               메모리 Face ID
iPhone 7 Plus  3GB      No
iPhone 8 Plus  3GB      No

In [122]:
iphone_df2.iloc[1:4, 2:5]

               메모리     출시 버전 Face ID
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No

###  값 고치기

In [126]:
iphone_df2.loc[['iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [128]:
iphone_df2.loc['iPhone 8', '메모리'] = '3GB'
iphone_df2.loc[['iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8  2017-09-22    4.7  3GB  iOS 11.0      No

In [131]:
iphone_df2['제조사'] = 'Apple'
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [138]:
iphone_df2.loc['iPhone XR'] = ['1111-11-11', 4.9, '3GB', 'iOS 12.0.1', 'Yes', 'Apple']
iphone_df2

                      출시일  디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      1111-11-11    4.9  3GB  iOS 12.0.1     Yes  Apple

In [134]:
iphone_df2.drop('iPhone XR', axis='index', inplace=False) # inplace=False하면 기존 df는 변경되지않음 다른변수에 저장할때 사용

                      출시일  디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [135]:
iphone_df2

                      출시일  디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      1111-11-11    4.9  3GB  iOS 12.0.1     Yes  Apple

In [139]:
iphone_df2.drop('iPhone XR', axis='index', inplace=True)
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [140]:
iphone_df2.drop(['iPhone 7', 'iPhone 8', 'iPhone X'], axis='index', inplace=False)

                      출시일  디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [141]:
iphone_df2.rename(columns={'Face ID': 'FACE ID'})

                      출시일  디스플레이  메모리     출시 버전 FACE ID    제조사
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [143]:
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [144]:
iphone_df2.rename(columns={'Face ID': 'FACE ID'}, inplace= True)
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 FACE ID    제조사
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [145]:
iphone_df2.index.name = '기종'

In [146]:
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 FACE ID    제조사
기종
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [149]:
iphone_df2['기종'] = iphone_df2.index
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 FACE ID    제조사             기종
기종
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple       iPhone 7
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple  iPhone 7 Plus
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No  Apple       iPhone 8
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple  iPhone 8 Plus
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple       iPhone X
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple      iPhone XS
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple  iPhone XS Max

In [151]:
iphone_df2.set_index('제조사', inplace=True)

In [153]:
iphone_df2 #하지만 Index에는 겹치는 값이 존재하면 안됨

              출시일  디스플레이  메모리     출시 버전 FACE ID             기종
제조사
Apple  2016-09-16    4.7  2GB  iOS 10.0      No       iPhone 7
Apple  2016-09-16    5.5  3GB  iOS 10.0      No  iPhone 7 Plus
Apple  2017-09-22    4.7  3GB  iOS 11.0      No       iPhone 8
Apple  2017-09-22    5.5  3GB  iOS 11.0      No  iPhone 8 Plus
Apple  2017-11-03    5.8  3GB  iOS 11.1     Yes       iPhone X
Apple  2018-09-21    5.8  4GB  iOS 12.0     Yes      iPhone XS
Apple  2018-09-21    6.5  4GB  iOS 12.0     Yes  iPhone XS Max

In [155]:
iphone_df2['제조사'] = iphone_df2.index
iphone_df2

              출시일  디스플레이  메모리     출시 버전 FACE ID             기종    제조사
제조사
Apple  2016-09-16    4.7  2GB  iOS 10.0      No       iPhone 7  Apple
Apple  2016-09-16    5.5  3GB  iOS 10.0      No  iPhone 7 Plus  Apple
Apple  2017-09-22    4.7  3GB  iOS 11.0      No       iPhone 8  Apple
Apple  2017-09-22    5.5  3GB  iOS 11.0      No  iPhone 8 Plus  Apple
Apple  2017-11-03    5.8  3GB  iOS 11.1     Yes       iPhone X  Apple
Apple  2018-09-21    5.8  4GB  iOS 12.0     Yes      iPhone XS  Apple
Apple  2018-09-21    6.5  4GB  iOS 12.0     Yes  iPhone XS Max  Apple

In [156]:
iphone_df2.set_index('기종', inplace=True)
iphone_df2

                      출시일  디스플레이  메모리     출시 버전 FACE ID    제조사
기종
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  3GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple